<div class="home">

  <div class="bg-white mt-5 mb-3" style="width: 100vw;height: 200px;">
      <p class="text-center" style="line-height: 200px;">形象圖輪播</p>
  </div>

  <div class="text-center">
      <p class="h1 text-center mb-3">Customize</p>
      <p>這裡是一張圖（說明客製化）</p>
      <button type="button" class="btn btn-primary w-25">前往</button>
  </div>

  <hr class="my-5">

  <div class="text-center">
      <p class="h1 text-center mb-3">Artworks</p>
      <p>這裡是一張圖（說明單品）</p>
      <button type="button" class="btn btn-primary w-25">前往</button>
  </div>

</div>