<div class="artworks">

  <h1 class="h1 py-5 text-center">Artworks</h1>

  <div class="container-sm">
    <div class="categories mx-auto d-flex align-items-flex-start justify-content-center">
      <ng-container *ngFor="let category of categories; let i = index">
        <div class="category m-3" (click)="selectCategory(i)" [style]="getInitStyle()"
            aria-expanded="false" data-toggle="modal" data-target="#artworkModal">
          <img class="img-fluid" [src]="category.src" />
          <div class="title d-flex align-items-center justify-content-center">
            <span class="text-white">{{ category.title }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="artworkModal" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 justify-content-end">
        <span type="button" class="close h3 m-0" data-dismiss="modal" aria-label="Close">&times;</span>
      </div>
      <div class="modal-body">
        <div class="img w-75 mx-auto">
          <img class="img-fluid rounded" [src]="artSelect.src" />
        </div>
        <p class="text-center my-3 lead">{{ artSelect.title }}</p>
        <p class="text-center">{{ artSelect.description }}</p>
        <p class="text-center">$ {{ artSelect.price }}</p>
      </div>
      <div class="modal-footer justify-content-start">
        <p class="text-center w-100">{{ categorySelect.title }}</p>
        <div class="w-25 d-flex" *ngFor="let art of artworks[categorySelect.key]">
          <img class="img-fluid rounded" [src]="art.src" />
        </div>
      </div>
    </div>
  </div>
</div>