// Logo
$main: #AC8063; // HoHom2.jpeg

// website background
$website: #EAD7C8; // website.jpg
$menu: #D2B59F; // menu.jpg
$pink: #EFA2B2; // pink.jpg
$lierPink: #DDAFBA; // 騙子粉

$lightgray: #eee;
$darkgray: #343434;
